:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

tr {
  margin: 16px 0px;
  border-bottom: 1px solid gray;
  border-radius: 16px;
  box-shadow: 0 0 0 1px red;
}

table {
  border-spacing: 0
}